@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
 --primary:#9100F8;
 --accent:#00FF88;
 --bg:#1A0B2E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-weight:400;
  font-style: normal;
}
body {
  background-color:#1A0B2E;
  color: white;
}
main{
    max-width: 1350px;
    margin: 0px auto;
}
.nav-container{
    display:flex;
    background-color:#1A0B2E;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    margin-bottom: 10px;
}
.logo {
    font-weight:700;
    font-size: 2em;
}
.nav-list{
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: center;
}
.nav-items{
    list-style: none;
}
.nav-items > a{
   color: white;
   text-decoration:none ;
   font-size: small;
}
.p-btn{
    padding: 5px 10px;
    background:linear-gradient(135deg,#9100F8,#FB09B4,#F7E93F);
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration:none ;
}
.p-btn-b{
    padding: 5px 10px;
    background:linear-gradient(135deg,#9100F8,#FB09B4,#F7E93F);
    color: #FFFFFF;
    border: none;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration:none ;
}
.p-btn:focus, .b-btn:focus,.p-btn-b:focus, .footer-links a:focus {
  outline: 2px solid #F7E93F;
  outline-offset: 4px;
}
.p-btn-b:hover,
.b-btn:hover,
.p-btn:hover{
    background-color: rgba(52, 20, 20, 0.7); 
    transform: scale(1.05);
}
.hamburger{
     display: none; 
     background-color: #110325;
}
/* banner-section */


.banner{
    background: url("../assets/hero-bg.png") no-repeat center/cover;
    background-size: cover;
    max-width: 100%;
    min-height: 90vh;

}
.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
}
.circle{
    position: relative;
    top: 80px;
}
.microphone{
    position: relative;
    bottom: 200px;
    max-width: 100%;
}
.new{
    position: relative;
    bottom: 430px;
    left: 100px;
    background-color: #8f7d05e9;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 10px 23px rgba(14, 6, 14, 0.979);
    width: 70px;
}
.b-conte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
}
#ft-logo{

    color:rgb(254, 23, 23);
}
.logo>span {
    color:rgb(254, 23, 23);
}
.b-btn{
    padding: 5px;
    color: #FFFFFF;
    border:1px solid burlywood ;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(52, 20, 20, 0.5);
    margin-left: 10px;
    max-width: 120px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.b-btn>img{
    width: 16px;
    height: 16px;
    padding-right:5px ;
}
.p-btn>img{
    width: 16px;
    height: 16px;
}

.b-conte>h3 {
    font-weight: 600;
    font-size: 76px;
    margin-bottom: 10px;

}
.btn-cont{
    margin-bottom: 40px;
    top: 40px;

}

/* all header */
.header{
    font-weight: 400;
    font-size: 36px;
    margin: 18px auto;
}
.h5h{
    font-weight: 300;
    font-size: 36px;
    margin: 18px auto;
}

/* about-section */

.about{
    padding: 70px;
    color: #FFFFFF;
    text-align: center;
}
.number{
    display: grid;
    grid-template-columns:repeat(4,1fr);
}
.n-scour{
    color: #00FF88;
}

/* why-section */

.why-container{
    text-align: center;
    
}
.grid-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: left;
    gap: 20px;
    box-shadow: 0 10px 18px rgba(5, 5, 5, 0.3);
    margin: 10px 20px;
}
.grid-card div{
    border-radius:20px ;
    background-color: #470f71;
    padding: 20px;
}
.box-sr{
    grid-column: span 2;
}
.box-sc{
    grid-row: span 2;
}

/* episode-section */


.episode{
    text-align: center;
}
.episode-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    margin: 10px 20px;
}

.episode-card {
  border-radius: 10px;
  background-color: #250D44;
  text-align: left;
  margin-right: 0px;
}

.video{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 15px;
}

.video iframe{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.v-cont{
    padding-left: 15px;
}
.time{
    color: #00FF88;
    margin-top: 10px;
}


/* alex-section */

.alex{
    text-align: center;
    margin: 10px 20px;
}
.alex-box>img{
    max-width: 100%;
    padding:20px 40px;
}
.alex-box{
    display: flex;
    gap: 10px;
    background-color: #351165;
    border-radius: 10px;
    text-align: left;
}
.ankor-list{
margin-top: 10px;
}
.ankor-list> a{
    border:2px solid burlywood ;
    border-radius: 50%;
    padding: 10px;
}
/* footer     */

footer{
    background: url("../assets/footer-bg.png") no-repeat center/cover;
    min-height: 400px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

footer>p{
    margin-top: 24px;
}




@media screen and (max-width: 576px) {
  .nav-list,
  .p-btn{
    display: none;
  }
  .hamburger{
    display: inline;
    cursor: pointer;
 }
.btn-cont{
    display: flex;
    flex-direction: row;
}
    .b-conte>h3 { 
    font-size: 48px; 
    }

/* .about */
.about{
    padding: 10px;
}

  .number{
    grid-template-columns: repeat(2,1fr);
  }

    /* WHY SECTION */
.grid-card{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
}

/* .episode */
  .episode-container{
    grid-template-columns: 1fr;
    gap: 20px;
  }

 /* Alex */
  .alex-box{
    flex-direction: column;
    text-align: center;
  }
  /* footer */
  .footer-links{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    color: #FFFFFF;
  }
    .banner{
    width: 100%;
    min-height: 266px;
    position: relative;
    }



}